/* Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* Font */

body{
    background-color: #000000;
    overflow: hidden;  
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    zoom: 75%;
}
.logo{
    width: 60px;
    position: relative;
    top: 30px;
}
.name{
  color: white;
  position: relative;
  font-size: 30px;
  bottom: 36px;
  left: 70px;
}



.navbar h3{
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    position: relative;
    left: 70px;
    bottom: 47px;
}
a:visited{
    color: white;
}
.icon{
    width: 35px;
    position: relative;
    left: 20px;
}
hr{
    width: 100px;
    position: relative;
    right: 880px;
    bottom: 20px;
}
h5{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    position: relative;
    left: 45px;
    bottom: 20px;
}

/* card */

.card {
    max-width: 300px;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 900px;
    height: 70px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);

    position: relative;
    left: 600px;
    bottom: 1390px;
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  .degrade{
    background: linear-gradient(rgb(22, 19, 190), rgb(68, 0, 255));
    width: 970px;
    height: 135px;
    position: relative;
    bottom: 1250px;
    left: 600px;
    border-radius: 20px;
  }

.card img{
    width: 120px;
    position: relative;
    bottom: 163px;
    right: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card h1{
    position: relative;
    left: 370px;
    bottom: 35px;
    font-family: 'Yeon Sung', cursive;
    font-size: 50px;
}


/* play */

.titre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    bottom: 300px;
    left: 200px;
}
.artiste{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    bottom: 300px;
    left: 200px;
}
.img{
    position: relative;
    bottom: 230px;
    width: 100px;
    left: 50px;
    border-radius: 8px;
}
.btns{
    position: relative;
    bottom: 400px;
    display: flex;
    justify-content: center;
}
.btns span{
    margin: 30px;
    cursor: pointer;
}
.btns span img{
    width: 50px;
}

@media (max-width: 1440px) {
    .scroller{
        position: relative;
        top: -300px;
    }
    .btns{
        position: relative;
        top: -460px;
    }
    .img{
        position: relative;
        top: -300px;
    }   
    .titre{
        position: relative;
        top: -380px;
    }
    .artiste{
        position: relative;
        top: -380px;
    }
    .card{
        position: relative;
        top: -1350px;
        left: 600px;
        width: 600px;
        height: 30px;
    }
    .degrade{
        position: relative;
        left: 600px;
        width: 670px;
        height: 100px;
    }
    .card h1{
        position: relative;
        left: 200px;
        font-size: 40px;
        top: -40px;
    }
    .card img{
        width: 80px;
        position: relative;
        top: -135px;
    }
    hr{
        left: -800px;
    }
}
@media (max-width: 1024px) {
    .scroller{
        position: relative;
        left: -100px;
    }
    .btns{
        position: relative;
        top: -480px;
    }
    .img{
        position: relative;
        top: -300px;
    }   
    .titre{
        position: relative;
        top: -380px;
        right: 35px;
    }
    .artiste{
        position: relative;
        top: -380px;
    }
    .hr{
        color: white;
    }
    .card{
        position: relative;
        left: 300px;
    }
    .degrade{
        position: relative;
        left: 300px;
    }
}
@media (max-width: 768px) {
    
    .btns{
        position: relative;
        top: 260px;
        left: 100px;
    }
    .img{
        position: relative;
        top: 440px;
        left: 10px;
    }
    .titre{
        position: relative;
        top: 350px;
        left: 130px;
    }
    .artiste{
        position: relative;
        top: 350px;
        left: 130px;
    }
    .card{
        width: 500px;
    }
    .degrade{
        width: 570px;
    }
}
@media (max-width: 425px) {
    .haut{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 200px;
    }
    .logo{
        width: 100px;
        position: relative;
        top: 40px;
    }
    .name{
        position: relative;
        top: -50px;
        left: 120px;
    }
    .navbar{
        opacity: 0;
    }
    .card{
        width: 800px;
        position: relative;
        left: 50px;
        top: -800px;
    }
    .degrade{
        width: 870px;
        position: relative;
        left: 50px;
        top: -660px;
    }
    .card h1{
        font-size: 70px;
        position: relative;
        top: -60px;
    }
    .card img{
        position: relative;
        top: -220px;
    }
    .img{
        position: relative;
        top: 1150px;
        width: 150px;
    }
    .btns{
        position: relative;
        left: 550px;
        top: 950px;
    }
    .artiste{
        position: relative;
        top: 1050px;
        left: 200px;
        font-size: 20px;
    }
    .titre{
        position: relative;
        top: 1050px;
        left: 200px;
        font-size: 30px;
    }
}
@media (max-width: 375px) {
    .img{
        position: relative;
        top: 1400px;
    }
    .artiste{
        position: relative;
        top: 1300px;
    }
    .titre{
        position: relative;
        top: 1300px;
    }
    .btns{
        position: relative;
        top: 1200px;
        left: 550px;
    }
}
@media (max-width: 320px) {
    .img{
        position: relative;
        top: 1750px;
    }
    .artiste{
        position: relative;
        top: 1650px;
    }
    .titre{
        position: relative;
        top: 1650px;
    }
    .btns{
        position: relative;
        top: 1500px;
        left: 550px;
    }
}
.scroller{
    overflow-y: auto;
    overflow-x: hidden;
    height: 550px;
    position: relative;
    bottom: 250px;
}

/* firstline */

.firstline{
    position: relative;
    left: 100px;
}
.titre-playliste{
    color: white;
    position: relative;
    left: 630px;
    font-size: 40px; 
}
.artiste-playliste{
    color: white;
    position: relative;
    bottom: 60px;
    left: 950px;
    font-size: 20px;
}
.playplayliste{
    width: 30px;
    position: relative;
    left: 550px;
}
.img-playliste{
    position: relative;
    bottom: -90px;
    left: 400px; 
    width: 80px;
}
.play{
    position: relative;
    bottom: 110px;
    left: 520px;
    width: 50px;
}

/* twoline */

.twoline{
    position: relative;
    left: 100px;
}
.titre-playliste2{
    color: white;
    position: relative;
    left: 630px;
    font-size: 40px;
    bottom: 150px;
}
.artiste-playliste2{
    color: white;
    position: relative;
    left: 1100px;
    bottom: 210px;
    font-size: 20px;
}
.img-playliste2{
    position: relative;
    bottom: 60px;
    left: 400px; 
    width: 80px;
}
.play2{
    position: relative;
    bottom: 260px;
    left: 520px;
    width: 50px;
}

/* line3 */

.threeline{
    position: relative;
    left: 100px;
}
.titre-playliste3{
    color: white;
    position: relative;
    left: 630px;
    font-size: 40px;
    bottom: 300px;
}
.artiste-playliste3{
    color: white;
    position: relative;
    left: 900px;
    font-size: 20px;
    bottom: 360px;
}
.img-playliste3{
    position: relative;
    bottom: 210px;
    left: 400px; 
    width: 80px;
}
.play3{
    position: relative;
    bottom: 410px;
    left: 520px;
    width: 50px;
}

/* fourline */

.fourline{
    position: relative;
    left: 100px;
}
.titre-playliste4{
    color: white;
    position: relative;
    left: 630px;
    font-size: 40px;
    bottom: 450px;
}
.artiste-playliste4{
    color: white;
    position: relative;
    left: 1050px;
    font-size: 20px;
    bottom: 510px;
}
.img-playliste4{
    position: relative;
    bottom: 360px;
    left: 400px; 
    width: 80px;
}
.play4{
    position: relative;
    bottom: 560px;
    left: 520px;
    width: 50px;
}

/* fiveline */

.fiveline{
    position: relative;
    left: 100px;
}
.titre-playliste5{
    color: white;
    position: relative;
    left: 630px;
    font-size: 40px;
    bottom: 600px;
}
.artiste-playliste5{
    color: white;
    position: relative;
    left: 850px;
    font-size: 20px;
    bottom: 660px;
}
.img-playliste5{
    position: relative;
    bottom: 510px;
    left: 400px; 
    width: 80px;
}
.play5{
    position: relative;
    bottom: 710px;
    left: 520px;
    width: 50px;
}