/* Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
/* Font */

body{
    background-color: #000000;
    overflow: hidden;  
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 60px;
    position: relative;
    top: 30px;
}
.name{
  color: white;
  position: relative;
  font-size: 30px;
  bottom: 36px;
  left: 70px;
}



.navbar h3{
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    position: relative;
    left: 70px;
    bottom: 47px;
}
a:visited{
    color: white;
}
.icon{
    width: 35px;
    position: relative;
    left: 20px;
}
hr{
    width: 100px;
    position: relative;
    right: 880px;
    bottom: 20px;
}
h5{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    position: relative;
    left: 45px;
    bottom: 20px;
}




.titre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 274px;
    left: 200px;
}
.artiste{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    top: 275px;
    left: 200px;
}
.img{
    position: relative;
    top: 350px;
    width: 100px;
    left: 50px;
    border-radius: 8px;
}
.btns{
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
}
.btns span{
    margin: 30px;
    cursor: pointer;
}
.btns span img{
    width: 50px;
}

.card {
    max-width: 300px;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 900px;
    height: 70px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);

    position: relative;
    left: 600px;
    bottom: 840px;
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  .degrade{
    background: linear-gradient(rgb(22, 19, 190), rgb(68, 0, 255));
    width: 970px;
    height: 135px;
    position: relative;
    bottom: 700px;
    left: 600px;
    border-radius: 20px;
  }

.card img{
    width: 120px;
    position: relative;
    bottom: 163px;
    right: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card h1{
    position: relative;
    left: 370px;
    bottom: 35px;
    font-family: 'Yeon Sung', cursive;
    font-size: 50px;
}


@media (max-width: 1440px) {
    .btns{
        position: relative;
        top: -100px;
    }
    .img{
        position: relative;
        top: 60px;
    }   
    .titre{
        position: relative;
        top: -30px;
    }
    .artiste{
        position: relative;
        top: -26px;
    }
    .card{
        position: relative;
        left: 400px;
        width: 600px;
    }
    .degrade{
        position: relative;
        left: 400px;
        width: 670px;
    }
    .card h1{
        left: 200px;
    }
}
@media (max-width: 1024px) {
    .btns{
        position: relative;
        top: 80px;
    }
    .img{
        position: relative;
        top: 240px;
    }   
    .titre{
        position: relative;
        top: 160px;
        right: 35px;
    }
    .artiste{
        position: relative;
        top: 240px;
    }
    .hr{
        color: white;
    }
    .card{
        position: relative;
        left: 350px;
    }
    .degrade{
        position: relative;
        left: 350px;
    }
}