/* Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* Font */
body{
    background-color: black;
    overflow-x:hidden;  

}
.logo{
    width: 60px;
}
.name{
  color: white;
  position: relative;
  bottom: 75px;
  left: 70px;
}
.card {
    width: 250px;
    height: 400px;
    transition: all 0.2s;
    position: relative;
    left: 200px;
    top: 100px;
    cursor: pointer;
  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#6933e6, #e838ee);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#6933e6, #e838ee);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  .img{
    width: 160px;
    position: relative;
    bottom: 360px;
    left: 40px;
  }
.name-card1{
  color: white;
   position: relative;
  bottom: 355px;
  display: flex;
  justify-content: center;
  font-family: 'Yeon Sung', cursive;
}
.infos-card1{
  color: white;
  text-align: center;
  position: relative;
  bottom: 340px;
  font-family: 'Roboto Mono', monospace;
}
.logo-card1{
  width: 25px;
  position: relative;
  top: 7px;
}
.card2 {
  width: 250px;
  height: 400px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  position: relative;
  left: 950px;
  bottom: 300px;
}

.card-inner2 {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card2:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle2 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ecf38e, #dbe64e);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}
.circle2 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ecf38e, #dbe64e);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle2:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle2:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}
.card3 {
  width: 250px;
  height: 400px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  position: relative;
  left: 580px;
  bottom: 700px;
}

.card-inner3 {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card3:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle3 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#6e1717, #f56743);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}
.circle3 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#6e1717, #f56743);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle3:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle3:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}
.accueil{
  color: white;
  position: relative;
  bottom: 42px;
  left: 30px;
}
.menu{
  position: relative;
  top: -40px;
}
.home{
  width: 20px;
}
